
<footer class="page-footer font-small bg-secondary pt-4">

<div class="container-fluid">
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">

<h4 style="color: antiquewhite;" class="">Me siga nas redes sociais!</h4>

    </div>
</div>
<div class="row col-md-12 d-flex justify-content-center">
<ul class="social-network">
<li>
    <a class="icone" target="blank" href="https://www.linkedin.com/in/italovieira1/">
        <i style="color: antiquewhite;" class="fa fa-linkedin-square linkedinhover" aria-hidden="true"></i>
    </a>
</li>
<li>
    <a target="blank" href="https://github.com/heiitalo">
        <i style="color: antiquewhite;" class="fa fa-github githover" aria-hidden="true"></i>
    </a>
</li>



</ul>



</div>




</div>
<div class="footer-copyright bg-dark text-center py-3">
    <span style="color: antiquewhite;">© 2021 Copyright </span>
<a style="color: antiquewhite;" target="blank" href="https://brasil.generation.org">
    https://brasil.generation.org</a>

</div>

</footer>