<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active ps-3">
        <img
          src="https://scontent.fgru4-1.fna.fbcdn.net/v/t39.30808-6/239895739_3908968079215313_3874321122449762951_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=r1UdrMZIBNYAX_Z24JP&tn=vDwKxoTChIcyMs5m&_nc_ht=scontent.fgru4-1.fna&oh=dd0bfa4c658296c321f29a3508484ef7&oe=6180909D"
          alt=" foto do usuario" width="60px" height="60px" class=" img-fluid rounded-circle">
      </li>
      <li class="nav-item  ps-2">
        <p style="color: antiquewhite;" class="fs16 m-0 form-control-lg">Nome do Usuário(a)</p>
      </li>
      <li class="nav-item">
        <a href="">
          <p class="fs16 m-0 form-control-lg"><i style="color: antiquewhite;" class=" fa fa-pencil-square-o "
              aria-hidden="true"></i></p>
        </a>

      </li>
 </ul>

 <ul class="navbar-nav ml-auto d-flex align-items-center">
  <li class="nav-item  ps-2">
   <a href="">
    <p style="color: antiquewhite;" class="fs16 m-0 form-control-lg">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></p>
   </a>
  </li>

 </ul>

  </div>
</nav>